body{
    color: white;
    background-color: #363636;
    margin: 0px;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-attachment: fixed;
    background-color: #222222;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

a:link{
    color: white;
    text-decoration: none;
    align-content: center;
    font-family: Papyrus, fantasy; 
    font-size: 20px;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 50%;
}

.books{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
} 

.details, .about, .movie{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.movies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description, .biography, .description2{
    margin: 20px;
    width: 800px;
    text-align: justify;
    font-size: large;
}

@media (max-width: 800px) {
    .books {
        flex-direction: column;
    }
}

