body{
    color: white;
    background-color: #3b3b3b;
    margin: 0px;
}

h1, h2{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-attachment: fixed;
    background-color: #222222;
    height: 40px;
}

a:link{
    color: white;
    text-decoration: none;
    background-color: #222222;
    align-content: center;
}

a:visited{
    color: white;
    text-decoration: none;
    background-color: #222222;
}

a:hover{
    color: gray;
    background-color: #222222;
}

.books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

@media (max-width: 800px) {
    .books {
        flex-direction: column;
    }
}